% vim: set ft=erlang : -*- erlang -*- % Magic lines for code editors
#{
    project_apps => [
        {chttpd,           [default, release]},
        {couch,            [default, release]},
        {couch_dist,       [default, release]},
        {couch_epi,        [default, release]},
        {couch_event,      [default, release]},
        {couch_index,      [default, release]},
        {couch_log,        [default, release]},
        {couch_mrview,     [default, release]},
        {couch_peruser,    [default, release]},
        {couch_plugins,    [default, release]},
        {couch_prometheus, [default, release]},
        {couch_pse_tests,  [default, release]},
        {couch_replicator, [default, release]},
        {couch_stats,      [default, release]},
        {couch_tests,      [default, test]},
        {custodian,        [default, release]},
        {ddoc_cache,       [default, release]},
        {dreyfus,          [default, release]},
        {fabric,           [default, release]},
        {global_changes,   [default, release]},
        {ioq,              [default, release]},
        {jwtf,             [default, release]},
        {ken,              [default, release]},
        {mango,            [default, release]},
        {mem3,             [default, release]},
        {rexi,             [default, release]},
        {setup,            [default, release]},
        {smoosh,           [default, release]},
        {weatherreport,    [default, release]}
    ],
    extra_apps => [
        %% Independent Apps
        {config,    "config",    {tag, "2.1.9"},         [release, default, test]},
        {b64url,    "b64url",    {tag, "1.0.3"},         [release, default, test]},
        {ets_lru,   "ets-lru",   {tag, "1.1.0"},         [release, default, test]},
        {khash,     "khash",     {tag, "1.1.0"},         [release, default, test]},
        {snappy,    "snappy",    {tag, "CouchDB-1.0.8"}, [release, default]},
        %% Third party deps
        {bear, {url, "https://github.com/jiahuili430/couchdb-bear"}, {branch, "82-rebar3"}, [release, default]},
        {folsom,    "folsom",    {tag, "CouchDB-0.8.4"},   [release, default]},
        {hyper,     "hyper",     {tag, "CouchDB-2.2.0-7"}, [release, default]},
        {ibrowse,   "ibrowse",   {tag, "CouchDB-4.4.2-5"}, [release, default]},
        {jiffy,     "jiffy",     {tag, "1.1.1"},           [release, default]},
        {mochiweb,  "mochiweb",  {tag, "v3.0.0"},          [release, default]},
        {meck,      "meck",      {tag, "0.9.2"},           [release, default]},
        {recon,     "recon",     {tag, "2.5.2"},           [release, default]}
    ],
    extra_deps => [
        %% Non-Erlang deps
        {docs,      {url, "https://github.com/apache/couchdb-documentation"},
                    {tag, "3.2.1-1"},
                    [docs, release]},
        {fauxton,   {url, "https://github.com/apache/couchdb-fauxton"},
                    {tag, "v1.2.8"},
                    [release]}
    ],
    system_apps => [
        {asn1,           [default, release]},
        {compiler,       [default, release]},
        {crypto,         [default, release]},
        {inets,          [default, release]},
        {runtime_tools,  [default, release]},
        {sasl,           [default, release]},
        {ssl,            [default, release]},
        {syntax_tools,   [default, release]},
        {xmerl,          [default, release]}
    ]
}.
